.hero {
  position: relative;
  display: flex;
  min-height: 480px;
  margin-bottom: 40px; 
  overflow-x: hidden;
  justify-content: center;
  z-index: 2;
}

.brain-left, .brain-right {
  position: absolute;
  display: block;
}

.brain-left {
  right: 50%;
}

.brain-right {
  left: 50%;
}

.brain-insides {
  /* flex-basis: 0; */
  background-color: $color-white;
  border: 4px solid #0971AF;
  z-index: 1;
  width: 0;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  align-self: center;
  box-sizing: border-box;
}

.brain-content {
  /* opacity: 0; */
  padding: 10px;
  display: none;
  height:auto;
}