.padding-container {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.img-hero {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 0 auto -40px;
  border: 5px solid $color-white;
  box-shadow: 0px 17px 17px -15px;
  z-index: 1;
  position: relative;
  img {
    height: 100%;
    width: auto;
  }
}

.contact-body {
  background-color: $color-white;
  padding: 40px 20px 40px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 17px 17px -15px;
}