.info-head {
    flex: 0 1 auto;
    text-align: center;
    box-shadow: 0px 17px 17px -15px;
    padding: 20px;
    background-color: $color-white;
    z-index: 1;
    border-radius: 200px;
}

// .info-head.-img {
//     height: 100px;
// }

.info-head {
    height: 60px;
    width: 60px;
}

.info-head img {
    height: 100%;
    width: auto;
}

.info-body {
    box-shadow: 0px 10px 20px -7px #000;
    margin-top: -45px;
    padding: 10px;
    padding-top: 55px;
    flex-basis: 100%;
    color: $color-primary;
    text-align: left;
    background-color: $color-white;
    /* border: 3px solid #0971AF; */
}

.info-body h2 {
    text-align: center;
    font-size: 25px;
    margin: 0;
    font-family: $font-primary;
    color: $color-secondary;
}

.info-body hr {
    width: 50%;
    height: 3px;
    background-color: $color-secondary;
    border: none;
    margin: 16px auto 0;
}