.info-head {
    flex: 0 1 auto;
    text-align: center;
    box-shadow: 0px 17px 17px -15px;
    padding: 20px;
    background-color: $color-white;
    z-index: 1;
    border-radius: 200px;
}

.info-head.-img {
    height: 100px;
}

.info-head img {
    height: 100%;
    width: auto;
}

.info-head h2 {
    font-size: 50px;
    color: $color-secondary;
    margin: 0;
    font-family: $font-primary;
}

.info-body {
    box-shadow: 0 8px 12px -7px #757575;
    margin-top: -15px;
    padding: 10px;
    flex-basis: 100%;
    background-color: $color-white;
    /* border: 3px solid #0971AF; */
}

.info-body h2 {
    text-align: center;
}