---
import Layout from '../layouts/Layout.astro'; 
---

<Layout title="Henry Kean | About">
	<main>
		<h1>About</h1>
			<div>
				<img src="/images/henry_kean.jpg" alt="Henry Kean"/>
				<p>
					I'm a software engineer, architect, and engineering manager based in Southern Maine. With over a decade of experience, I've led teams, built mobile and web apps, and delivered solutions for companies like the Mayo Clinic, Optum, and Liberty Mutual. Whether it's exploring the latest framework or digging into cross-platform development, I'm always looking for new ways to solve complex problems.
				</p>
				<p>
					Outside of work, I'm just as hands-on—whether it's tackling DIY projects at home (with varying degrees of success) or <a href="https://en.wikipedia.org/wiki/Hurling" target="_blank">hurling</a> with my local GAA. I'm always up for trying something new, because I believe that staying curious is key, both in tech and in life.
				</p>
				<p>
					If you're looking for someone who's constantly experimenting and pushing boundaries (in code and beyond), <a href="/contact">reach out</a> and let's see what we can build together.
				</p>
			</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: var(--spacing-100);
		width: 800px;
		max-width: calc(100% - 2rem);
		color: var(--color-primary);
		font-size: var(--spacing-125);
		line-height: 1.6;
	}
	h1 {
		font-size: var(--spacing-400);
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: var(--spacing-100);
	}
	img {
		width: 50%;
		height: auto;
		float: left;
		margin-right: var(--spacing-100);
	}
	

</style>
