---
import Layout from '../layouts/Layout.astro';
export const prerender = false;

const siteKey = import.meta.env.CAPTCHA_KEY ?? process.env.CAPTCHA_KEY;
const isDev = import.meta.env.MODE === 'development' 
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hey! I'm Henry</h1>
		<section>
			<div>
				<p>
					I'm a Maine based software engineer and this is a space I'm creating to store my musings, ideas, and just-for-fun explorations that I work on when I'm not helping out industry leading clients in the healthcare space. 
				</p>
				<p>
					It certainly doesn't look like much at the moment, but as with all software development, it will grow incrementally. 
				</p>
				<p>
					I hope you'll check back to see what I've got in the works or what new ideas I'm digging into. Until then, feel free to grab a copy of my résumé, check out some personal projects in github (sorry, all of my clients own the code I write for them), and/or reach out with any questions or if you'd like to pull me in to any interesting projects you're working on!
				</p>
			</div>
		</section>
		<ul>
			<li>Résumé</li>
			<li>Github</li>
			<li>Get in touch</li>
		</ul>
		<script is:inline src="https://www.google.com/recaptcha/api.js"></script>
		<form id="contact-form">
			<input type="email" name="email" placeholder="Your Email" required />
			<textarea name="message" placeholder="Your Message" required></textarea>
			<button class="g-recaptcha" data-sitekey={siteKey} data-callback="onSubmit" data-action="submit" type="submit"> 
				Click me to verify the captcha challenge!
			</button>
		</form>
	
    <script is:inline>
		const form = document?.getElementById('contact-form');
			function onSubmit (token) {
				console.log('captcha submit')
				fetch("/api/recaptcha", {
					method: "POST",
					body: JSON.stringify({ recaptcha: token })
				})
				.then((response) => response.json())
				.then((gResponse) => {
					if (gResponse.success) {
					console.log('success!!', gResponse)
					// form.dispatchEvent(new Event('submit'));
					form.requestSubmit();
					// Captcha verification was a success
					} else {
					console.log('womp!', gResponse);
					// Captcha verification failed
					}
				})
			}

		function sendEmail ({email, message}) {
			console.log('send email');
			fetch("/api/send-email", {
				method: "POST",
				body: JSON.stringify({
					email: email,
					message: message,
				})
			}).then((response) => {
				response.json()
				console.log('response: ', response);
			}).catch((error) => {
				console.log("error sending email: ", error);
				throw(error);
			});
		}

		document?.getElementById('contact-form')?.addEventListener('submit', async (e) => {
			e.preventDefault();
			console.log('submitted');
			try {
				const email = e.target?.email?.value;
				const message = e.target?.message.value;
				sendEmail({email, message});
			} catch (error) {
				console.log("error sending email: ", error);
			};
		});
    </script>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: var(--color-primary);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.logo {
		height: 200px;
		width: 200px;
	}
</style>
