---
import Layout from '../layouts/Layout.astro';
export const prerender = false;
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hey! I'm Henry</h1>
		<section>
			<div>
				<p>
					I'm a Maine based software engineer and this is a space I'm creating to store my musings, ideas, and just-for-fun explorations that I work on when I'm not helping out industry leading clients in the healthcare space. 
				</p>
				<p>
					It certainly doesn't look like much at the moment, but as with all software development, it will grow incrementally. 
				</p>
				<p>
					I hope you'll check back to see what I've got in the works or what new ideas I'm digging into. Until then, feel free to grab a copy of my résumé, check out some personal projects in github (sorry, all of my clients own the code I write for them), and/or reach out with any questions or if you'd like to pull me in to any interesting projects you're working on!
				</p>
			</div>
		</section>
		<ul>
			<li>Résumé</li>
			<li>Github</li>
			<li>Get in touch</li>
		</ul>
		<!-- <form id="contact-form">
			<input type="email" name="email" placeholder="Your Email" required />
			<textarea name="message" placeholder="Your Message" required></textarea>
			<div class="g-recaptcha" data-sitekey="6Lf9Rk8qAAAAAPC3qRq4UTg_MWwmY2Eiy_ZzHPJk"></div>
			<button type="submit">Send</button>
		</form> -->
		<button class="g-recaptcha"
      data-sitekey={import.meta.env.CAPTCHA_KEY}
      data-callback="onSubmit"
      data-action="submit"> Click me to verify the captcha challenge! </button>

    <script is:inline>
      function onSubmit(token) {
        fetch("/recaptcha", {
          method: "POST",
          body: JSON.stringify({ recaptcha: token })
        })
        .then((response) => response.json())
        .then((gResponse) => {
          if (gResponse.success) {
			console.log('success!!')
            // Captcha verification was a success
          } else {
			console.log('womp!');
            // Captcha verification failed
          }
        })
      }
    </script>
		
		<!-- <script is:inline src="https://www.google.com/recaptcha/api.js" async defer></script>
		
		<script>
			interface FormFields extends EventTarget {
				email: HTMLInputElement;
				message: HTMLTextAreaElement;
			}

			document?.getElementById('contact-form')?.addEventListener('submit', async (e) => {
				e.preventDefault();
				const email = (e.target as FormFields)?.email?.value;
				const message = (e.target as FormFields)?.message.value;
				const captchaToken = grecaptcha.getResponse();
			
				const response = await fetch('https://qrv0rubkp7.execute-api.us-east-2.amazonaws.com/prod/send-email', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					email: email,
					message: message,
					captchaToken: captchaToken,
				}),
				});
			
				const data = await response.json();
				if (response.ok) {
				alert(data.message);
				} else {
				alert(`Error: ${data.error}`);
				}
			});
		</script> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: var(--color-primary);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.logo {
		height: 200px;
		width: 200px;
	}
</style>
