:root {
    --color-primary: #00253b;
    --color-secondary: #17a991;
    --color-accent-primary: #f0f4f8;
    --color-accent-secondary: #ffd166;
    --color-accent-tertiary: #ff6b6b;
    --color-neutral-primary: #ffffff;
    --color-neutral-secondary: #333333;
}