.hero {
  position: relative;
  display: flex;
  min-height: 480px;
  margin-bottom: 40px;
  overflow-x: hidden;
  justify-content: center;
  z-index: 2;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 40px; }

.brain-left, .brain-right {
  position: absolute;
  display: block; }

.brain-left {
  right: 50%; }

.brain-right {
  left: 50%; }

.brain-insides {
  /* flex-basis: 0; */
  background-color: #fff;
  border: 4px solid #0971AF;
  z-index: 1;
  width: 0;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  align-self: center;
  box-sizing: border-box;
  max-width: 600px; }

.brain-content {
  /* opacity: 0; */
  padding: 10px;
  display: none;
  height: auto; }

.info-head {
  flex: 0 1 auto;
  text-align: center;
  box-shadow: 0px 17px 17px -15px;
  padding: 20px;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.info-head {
  height: 70px;
  width: 70px; }

.info-head img {
  height: 100%;
  width: auto; }

.info-body {
  box-shadow: 0px 10px 20px -7px #000;
  margin-top: -45px;
  padding: 15px;
  padding-top: 55px;
  flex-basis: 100%;
  color: #002d56;
  text-align: left;
  background-color: #fff;
  margin-bottom: 30px;
  /* border: 3px solid #0971AF; */ }

.info-body h2 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #2181bd; }

.info-body hr {
  width: 50%;
  height: 3px;
  background-color: #2181bd;
  border: none;
  margin: 16px auto 0; }

.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  text-align: center;
  flex-wrap: wrap; }
  .links li {
    flex-grow: 1; }

.svg-inline--fa.primary path {
  fill: #2181bd; }

.svg-inline--fa.secondary path {
  fill: #2181bd; }

nav {
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #002d56;
  z-index: 1;
  top: calc(100vh + 75px);
  font-family: "Raleway", sans-serif;
  z-index: 3; }

nav.-top {
  animation: navDown 1.5s forwards ease-in-out; }

nav ul {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  padding: 0 15px;
  margin: 0; }

nav a {
  margin: auto; }

#nav-logo img {
  height: 80px;
  margin-left: 35px;
  transform: translateY(-60px);
  opacity: 0;
  animation: slideIn 1s forwards cubic-bezier(0.25, 0.1, 0.46, 1.31);
  animation-delay: 2s; }

@keyframes navDown {
  0% {
    top: -75px; }
  75% {
    /* padding-top:0; */
    top: 10px; }
  100% {
    top: 0; } }

.padding-container {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto; }

.img-hero {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 0 auto -40px;
  border: 5px solid #fff;
  box-shadow: 0px 17px 17px -15px;
  z-index: 1;
  position: relative; }
  .img-hero img {
    height: 100%;
    width: auto; }

.contact-body {
  background-color: #fff;
  padding: 40px 20px 40px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 17px 17px -15px; }

body {
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  background-color: #002d56;
  font-size: 16px;
  overflow-x: hidden; }

ul {
  margin: 0; }

body.loaded {
  animation: fadeIn 3.75s forwards ease; }

.App {
  text-align: center; }

.row {
  display: flex;
  flex-direction: row; }

.-center {
  justify-content: center; }

.hide {
  display: none !important; }

.link {
  color: #fff;
  text-decoration: none;
  font-size: 24px; }
  .link.-dark {
    color: #002d56; }

.link:after {
  display: block;
  content: '';
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%; }

.link.-dark:after, .link.-dark.-active:after {
  border-bottom: solid 2px #002d56; }

.link:hover:after, .link.-active:after {
  transform: scaleX(1);
  transform-origin: 0% 50%; }

ul.-no-list, li.-no-list {
  list-style: none;
  display: flex; }

li.-no-list {
  flex-direction: column; }

#intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.content {
  /* padding-top: 30px; */
  opacity: 0;
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  color: #fff; }

.content.fade-in {
  animation: fade-in .5s forwards ease-in-out;
  display: block; }

.tabs {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center; }

.tabs li {
  flex: 1; }
  .tabs li span {
    display: inline-block; }

.page-content.new {
  animation: navTop 1.5s forwards ease-in-out; }

.test-container {
  width: 100%;
  text-align: center;
  height: auto;
  position: absolute;
  bottom: 56px;
  z-index: -1; }

.wrap-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 auto;
  max-width: 1200px;
  margin: 0 auto; }

.wrap-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;
  flex: 1 0 auto;
  flex-basis: 45%;
  align-content: baseline;
  max-width: 800px; }

/* #client:last-child {
  margin: 0 20px 0 0;
}
#client:first-child {
  margin: 0 0 0 20px;
} */
#loader {
  height: 15px;
  position: relative; }

#loader .-bg, #loader .-fg {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  animation: loading 1.5s infinite ease;
  position: absolute;
  top: 100px;
  left: 100px;
  /* Sets animation from middle out instead of left to right */
  transform: translate(-50%, -50%); }

#loader .-bg.loading {
  background-color: gray;
  animation-delay: .5s; }

#loader .-fg.loading {
  background-color: white; }

#container {
  position: relative; }

#H {
  stroke-dasharray: 460.034423828125;
  stroke-dashoffset: 460.034423828125;
  /* stroke-dasharray: 1130;
  stroke-dashoffset: 1130; */ }

#K {
  stroke-dasharray: 462.63458251953125;
  stroke-dashoffset: 462.63458251953125;
  /* stroke-dasharray: 1137.9031982421875;
  stroke-dashoffset: 1137.9031982421875; */ }

polygon.fade-in {
  animation: dash 2.5s forwards ease-in-out;
  display: block; }

#logo p {
  margin-right: 14px;
  opacity: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #fff; }

#logo p:last-of-type {
  margin-right: 0;
  margin-left: -16px; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.comp-fade-enter {
  opacity: 0.01; }

.comp-fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in; }

.comp-fade-exit {
  opacity: 1; }

.comp-fade-exit-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in; }

.button {
  text-decoration: none;
  background-color: #002d56;
  border: 3px solid #2181bd;
  color: #fff;
  padding: 5px 10px;
  margin: 0 15px 15px;
  display: block; }

/* @keyframes shift-up {
  to {
    padding-top: 0;
  }
} */
/* #H {
  stroke-dasharray: 1131;
  stroke-dashoffset: 1131;
}
#K {
  stroke-dasharray: 1137.8;
  stroke-dashoffset: 1137.8;
}

polygon {
 display: block;
}
polygon.fade-in {
  animation: dash 3s forwards ease;
  display: block;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */
@keyframes navTop {
  from {
    top: calc(100vh - 50px); }
  to {
    /* padding-top:0; */
    top: 0; } }

@keyframes slideIn {
  0% {
    transform: translateY(-60px);
    opacity: 0; }
  2% {
    transform: translateY(-60px);
    opacity: 1; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes navUp {
  from {
    top: 100vh; }
  to {
    /* padding-top:0; */
    top: calc(100vh - 75px); } }

@keyframes fade-in {
  to {
    /* padding-top:0; */
    opacity: 1; } }

@keyframes fadeIn {
  50% {
    background-color: white; }
  100% {
    background-color: #002d56; } }

@keyframes loading {
  50% {
    width: 200px; }
  100% {
    width: 15px; } }
